// The ui-variables file is provided by base themes provided by Atom.
@import "ui-variables";


:host, atom-text-editor, atom-text-editor::shadow {
  atom-text-editor .highlight.highlight-selected .region {
    position: absolute;
    pointer-events: none;
    z-index: -1;
  }

  .highlights {


      .lowSweat .region {
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        border-bottom-color: #FF0099;
      }


      .mediumSweat .region {
          background-color: rgba(255, 128, 64, 0.2);
          border-color: rgba(255, 128, 64, 0.4);
      }


      .highSweat .region {
          background-color: rgba(255, 128, 64, 0.2);
          border-color: rgba(255, 128, 64, 0.4);
      }

  }

}
